
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    background-color: #113182;

}
.img{

    text-align: center;

}
.letra{
    font-size: 20px;
}
.conteiner{
    margin: 0 auto;
    width: 960px;
    padding: 20px;
    background-color: #ffffff;
}
.titulo{
    text-align: center;
}
.card{
    padding: 20px;
    background-color: #CCC;
    margin-bottom: 10px;
    margin-top: auto;
    border: 3px solid #113182;
    border-radius: 15px;
}
.card img{
    float: right;
    margin: 10px;
    border: 2px solid #113182;
    border-radius: 15px;
}
.clear{
    clear: both;
}
.button{
    text-decoration: none;
    background-color: rgb(88, 65, 214);
    color: #fff;
    padding: 15px;
    border: 5px solid #fff;
    border-radius: 15px;
    font-weight: bold;
}
.link{
    margin-top: 20px;
    text-align: right;
}